.main-wrap{
  width: 98vw;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.content-wrap{
  width: 89%;
  height: 90%;
  display: flex;
  background-color: #ecf0f1;
  border: 1px solid red;
}
